.dot {
    height: 200px;
    width: 200px;
    background-color: rgb(110, 108, 108);
    border-radius: 50%;
    display: inline-block;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    height: 60px;
    width: 101%;
    margin-left: -1px;
    margin-bottom: -1px;
}
