<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Chat
    </ion-title>
  </ion-toolbar>
  <div class="shadow" style="width: 100%; height: 1px; margin-top: -1px;"></div>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="segment" mode="md" value="1" style="background-color: white; box-shadow: 0px 0.5px 1px #cdcdcd;">
    <ion-segment-button value="1" style="width: 50%;">
      <ion-icon name="reader-outline" style="font-size: 32px;"></ion-icon>
      <ion-label class="textTop">DOADOS</ion-label>
    </ion-segment-button>
    <ion-segment-button value="2" style="width: 50%;">
      <ion-icon name="storefront-outline" style="font-size: 32px;"></ion-icon>
      <ion-label class="textTop">ADOTADOS</ion-label>
    </ion-segment-button>
  </ion-segment> -->
  
  <!-- nenhum -->
  <div class="p-2">

    <ion-icon class="nenhum" name="sad-outline" style="font-size: 60px; margin-top: -45px;"></ion-icon>
    <h3 class="nenhum">Você não tem nenhuma menssagem!</h3>

  </div>

</ion-content>
