<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>

    <!-- <ion-title>
      Serviços
    </ion-title> -->

    <ion-title [routerLink]="['/city-selector']" mode="md" slot="start" style="margin-left: 0px; margin-right: auto;">
      <ion-icon name="location-outline" style="vertical-align: middle"></ion-icon>
      <span mode="md" style="vertical-align: middle; margin-top: 2px; margin-left: 4px; margin-right: 2px;">{{locale?.city}}</span>
      <ion-icon name="chevron-down-outline" style="font-size: 14px; vertical-align: middle"></ion-icon>
    </ion-title>

    <ion-button [routerLink]="['/search']" routerLinkActive="router-link-active"  class="btnLogout" expand="block" fill="clear" slot="end" style="margin-right: 15px;">
      <ion-icon name="search-outline" style="font-size: 25px;" color="dark"></ion-icon>
    </ion-button>

  </ion-toolbar>
  <div class="shadow" style="width: 100%; height: 1px; margin-top: -1px;"></div>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-refresher mode="md" slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content mode="md" style="margin-top: 60px;" refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>

  <!-- <div
    style="display: flex; width: 100%; padding: 10px; background-color: white; overflow-x: auto;"
    class="shadow">

    <ion-button [routerLink]="['/post-product']" routerLinkActive="router-link-active"  expand="block" color="primary" shape="round"
    style="width: 100%; height: 55px; font-size: 17px; margin-top: 5px; margin-bottom: -10px;">Postar um serviço</ion-button>

    <div class="itemTop">
      <ion-icon name="fast-food-outline" style="font-size: 42px;"></ion-icon>
      <ion-label class="textTop mt-2">ELETRECISTA</ion-label>
    </div>

    <div class="itemTop">
      <ion-icon name="fast-food-outline" style="font-size: 42px;"></ion-icon>
      <ion-label class="textTop mt-2">FAXINEIRA</ion-label>
    </div>


    <div class="itemTop">
      <ion-icon name="fast-food-outline" style="font-size: 42px;"></ion-icon>
      <ion-label class="textTop mt-2">CARPINTEIRO</ion-label>
    </div>


    <div class="itemTop">
      <ion-icon name="fast-food-outline" style="font-size: 42px;"></ion-icon>
      <ion-label class="textTop mt-2">PEDREIRO</ion-label>
    </div>


  </div> -->

  <div class="w-100">

    <div *ngFor="let item of products.reverse()">
      <ion-card *ngIf="item.city == locale.city && item.state == locale.state" (click)="open(item._id)" mode="ios" class="shadow d-flex ion-activatable ripple-parent">
        <div style="height: 100%; display: flex; align-items: center;">
          <img [src]="item.foto ?? 'https://icon-library.com/images/no-image-icon/no-image-icon-0.jpg'" alt="" width="100px" height="102px">
        </div>
        <div>
          <ion-card-header>
            <ion-card-title>{{item.nome}}</ion-card-title>
            <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
          </ion-card-header>
  
          <ion-card-content *ngIf="item.descricao">
            {{item.descricao}}
          </ion-card-content>
        </div>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-card>
    </div>

    <br><br><br>

  </div>

  <!-- Btn add -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/post-product']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>