<!-- <ion-header>
  <ion-toolbar>
    <ion-title>first</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="h-100 background">
    <div class="h-100 content">

      <div class="PartScreen text-center">
        <div style="height: 1px;"></div>
        <span class="titleText {{this.os == 'ios' ? 'mt-5' : ''}}" >MEU PET</span>
        <img src="assets/icon/logo.jpg" style="width: 85%; margin-top: 50px;" alt="">
      </div>

      <div class="PartScreen">
        
      </div>
  
      <div class="PartScreen PartScreen3">
        <div class="w-100">
          <ion-button color="primary" shape="round" expand="block" class="w-99 btn1" [routerLink]="['/login']">JÁ TENHO UMA CONTA</ion-button>
          <ion-button color="primary" shape="round" expand="block" class="w-99 {{this.os == 'ios' ? 'mb-3' : 'mb-2'}}" [routerLink]="['/register']">CRIAR UMA CONTA</ion-button>
        </div>
      </div>

    </div>
  </div>
</ion-content>
