@import url('https://fonts.googleapis.com/css2family=Poppins:wght@300&display=swap');

ion-content{
    --ion-background-color:#fff;
}

.PartScreen {
    height: 33.333333333%;
}

.PartScreen3 {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    padding: 10px;
}

ion-button {
    --box-shadow:none;
    height: 60px;
}

.btn1 {
    margin-bottom: 15px;
}

.titleText {
    margin-top: 20px;
    font-weight: 405;
    font-size: 52px;
    display: block;
    color: var(--ion-color-primary);
}