ion-searchbar {
    --box-shadow: none;
    border-radius: 30px;
    margin-top: 6px;
    margin-bottom: 6px;
    width: calc(100% - 10px);
}

.recentes{
    padding-left: 15px;
    margin-top: 15px;
    padding: 15px;
}