<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-back-button slot="start" text="" style=" margin-left: 4px; z-index: 9999; font-size: 22px;" color="primary"></ion-back-button>
    <ion-title>Busca</ion-title>
  </ion-toolbar>
  <div class="shadow" style="width: 100%; height: 1px; margin-top: -1px;"></div>
</ion-header>

<!-- No search -->
<ion-content *ngIf="!searchName && !searchCat">

  <!-- Busca -->
  <div style="display: flex !important; justify-content: center !important; background-color: white;">
    <ion-searchbar (search)="searchText($event)" placeholder="Buscar"></ion-searchbar>
  </div>

  <!-- Recentes -->
  <ion-toolbar *ngIf="recents.length > 0" class="recentes">
    <ion-title>Buscas Recentes</ion-title>

    <ion-list *ngIf="recents" style="margin-left: 5px;">
      <ion-item *ngFor="let item of recents.reverse()" (click)="searchText(item)" class="ion-activatable ripple-parent">
        <ion-label>{{item}}</ion-label>
        <ion-icon name="chevron-forward-outline"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-item>
    </ion-list>
  </ion-toolbar>

  <!-- Categorias -->
  <ion-toolbar *ngIf="categories.length > 0" class="recentes">
    <ion-title>Categorias</ion-title>

    <ion-list *ngIf="categories" style="margin-left: 5px;">
      <ion-item *ngFor="let item of categories" (click)="searchCategory(item)" class="ion-activatable ripple-parent">
        <ion-label>{{item}}</ion-label>
        <ion-icon name="chevron-forward-outline"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-item>
    </ion-list>
  </ion-toolbar>

</ion-content>

<!-- Search result -->
<ion-content *ngIf="searchName || searchCat">

  <!-- Busca -->
  <div style="display: flex !important; justify-content: center !important; background-color: white;">
    <ion-searchbar (search)="searchText($event)" placeholder="Buscar" [value]="searchName ?? searchCat" (ionClear)="onClear()"></ion-searchbar>
  </div>

  <!-- Loading -->
  <div *ngIf="loading" style="display: flex; justify-content: center; height: calc(100% - 80px); align-items: center; width: 100%;">
    <ion-spinner color="primary"></ion-spinner>
  </div>

  <div *ngIf="!loading">
    <div *ngFor="let item of products.reverse()">
      <ion-card *ngIf="item.city == locale.city && item.state == locale.state" (click)="open(item._id)" mode="ios" class="shadow d-flex ion-activatable ripple-parent">
        <div style="height: 100%; display: flex; align-items: center;">
          <img [src]="item.foto ?? 'https://icon-library.com/images/no-image-icon/no-image-icon-0.jpg'" alt="" width="100px" height="102px">
        </div>
        <div>
          <ion-card-header>
            <ion-card-title>{{item.nome}}</ion-card-title>
            <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
          </ion-card-header>
  
          <ion-card-content *ngIf="item.descricao">
            {{item.descricao}}
          </ion-card-content>
        </div>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-card>
    </div>

    <div *ngIf="products.length == 0" class="p-2">

      <ion-icon class="nenhum" name="sad-outline" style="font-size: 60px; margin-top: -45px;"></ion-icon>
      <h3 class="nenhum">Não encontramos nenhum animal!</h3>
  
    </div>

  </div>

</ion-content>